.latest-product {
    .card {
        .card-content {
            margin: auto;
            width: 50%;
            margin-top: 20%;
            .count {
                font-size: 20px;
                font-weight: 600;
                color: black;
            }
        }
      
     }
}